page,.header{
	background: #fff;
}
.title{
	font-size: 34rpx;
	font-weight: bold;
	padding: 0 30rpx;
	margin-top: 30rpx;
}
.search{
	width: 650rpx;
	padding: 0 20rpx;
	height: 62rpx;
	margin: 0 auto;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 31rpx;
	margin-top: 40rpx;
	image{
		width: 25rpx;
		height: 25rpx;
	}
	input{
		margin-left: auto;
		width: 610rpx;
		font-size: 28rpx;
	}
}
.person{
	padding: 40rpx 30rpx;
	font-size: 24rpx;
	view{
		margin-left: auto;
	}
	image{
		width: 11rpx;
		height: 21rpx;
		margin-left: 30rpx;
	}
}
.scroll_box{
	padding-top: 30rpx;
	border-top: 1rpx solid #eee;
	font-size: 28rpx;
	height: 900rpx;
	.scroll_left{
		background: #F3F8F7;
		width: 200rpx;
		height: 100%;
		.sl_item{
			height: 62rpx;
			line-height: 62rpx;
			margin: 10rpx 0;
			view{
				padding: 0 36rpx 0 32rpx;
				border-left: 8rpx solid #fff;
			}
			view.active{
				border-left: 8rpx solid #00BE72;
			}
		}
		.sl_item.active{
			background: #fff;
		}
		
	}
	.scroll_right{
		height: 100%;
		width: 440rpx;
		margin-left: 80rpx;
		.sr_item{
			height: 72rpx;
			line-height: 72rpx;
		}
		.sr_item.active{
			color: #00BE72;
		}
	}
}