.header{
	background: #fff;
}
.top{
	width: 100%;
	position: fixed;
	padding-top: 12rpx;
	top: 0rpx;
	left: 0;
	z-index: 9;
	background: #fff;
	.search{
		width: 650rpx;
		margin: 0 auto;
		padding: 0 20rpx;
		height: 62rpx;
		border-radius: 32rpx;
		background: #F4F4F4;
		font-size: 28rpx;
		image{
			width: 25rpx;
			height: 25rpx;
		}
		input{
			width: 600rpx;
			margin-left: 16rpx;
			font-size: 28rpx;
		}
	}
	.tab{
		padding: 40rpx 30rpx;
		border-top: 1rpx solid #eee;
		margin-top: 12rpx;
		position: relative;
		.picher{
			font-size: 28rpx;
			image{
				width: 21rpx;
				height: 11rpx;
				margin-left: 20rpx;
			}
		}
		.dept_cup{
			width: 100%;
			background: #fff;
			position: absolute;
			top: 100rpx;
			left: 0;
			.dept_item{
				padding: 30rpx;
				border-bottom: 1rpx solid #eee;
				font-size: 28rpx;
				image{
					width: 38rpx;
					height: 38rpx;
					margin-left: auto;
				}
			}
		}
	}
}
.list{
	padding-top: 206rpx;
	.item{
		background: #fff;
		margin-top: 12rpx;
		padding: 0 30rpx;
		position: relative;
		.i_top{
			padding: 30rpx 0;
			border-bottom: 1rpx solid #eee;
			.left{
				position: relative;
				image{
					width: 100rpx;
					height: 100rpx;
					border-radius: 50%;
				}
				view{
					width: 80rpx;
					height: 30rpx;
					background: #B1B1B1;
					border-radius: 4rpx;
					line-height: 30rpx;
					text-align: center;
					font-size: 20rpx;
					color: #fff;
					position: absolute;
					top: 84rpx;
					left: 10rpx;
				}
				view.active{
					background: #29BDCB;
				}
			}
			.right{
				margin-left: 20rpx;
				width: 570rpx;
				.flex_y_center{
					.name{
						font-size: 34rpx;
						font-weight: 600;
					}
					.doc_level{
						font-size: 30rpx;
						font-weight: 600;
						margin-left: 30rpx;
					}
					.hosp_level{
						width: 106rpx;
						height: 36rpx;
						background: rgba(46, 207, 175, 0.2);
						border-radius: 18rpx;
						font-size: 20rpx;
						color: #00BE72;
						margin-left: 20rpx;
						image{
							width: 16rpx;
							height: 20rpx;
							margin-right: 10rpx;
						}
					}
					
				}
				.hospital{
					font-size: 24rpx;
					margin-top: 20rpx;
				}
				.text_more{
					font-size: 24rpx;
					color: #999;
					margin-top: 20rpx;
				}
				.see_num{
					font-size: 20rpx;
					color: #999;
					margin-top: 20rpx;
				}
			}
		}
		.i_bottom{
			padding: 30rpx 0 30rpx 120rpx;
			font-size: 28rpx;
			font-weight: 600;
		}
		.collect{
			position: absolute;
			right: 30rpx;
			top: 30rpx;
			z-index: 1;
			width: 108rpx;
			height: 40rpx;
			background: #FFFFFF;
			border: 1rpx solid #279E9A;
			border-radius: 20rpx;
			color: #279E9A;
			font-size: 20rpx;
			margin-left: auto;
			image{
				width: 18rpx;
				height: 18rpx;
				margin-right: 10rpx;
			}
		}
		.collect_act{
			position: absolute;
			right: 30rpx;
			top: 30rpx;
			z-index: 1;
			width: 108rpx;
			height: 40rpx;
			background: #FFFFFF;
			border: 1rpx solid #C8C8C8;
			border-radius: 20rpx;
			font-size: 20rpx;
			color: #999;
			line-height: 40rpx;
			text-align: center;
			margin-left: auto;
		}
	}
}