.top{
	background: linear-gradient(135deg, #2ECFAF, #29BDCB);
	padding: 50rpx 40rpx 30rpx 40rpx;
	position: relative;
	.user_info{
		font-size: 28rpx;
		color: #fff;
		.user_name{
			font-size: 34rpx;
		}
		.user_age{
			margin-top: 10rpx;
		}
		.flex_all_center{
			position: absolute;
			right: 0;
			width: 200rpx;
			height: 66rpx;
			background: #FFFFFF;
			box-shadow: 0px 0px 30rpx 0px rgba(0, 0, 0, 0.1);
			border-radius: 33rpx 0 0 33rpx;
			font-size: 24rpx;
			color: #00BE72;
			image{
				width: 28rpx;
				height: 28rpx;
				margin-right: 15rpx;
			}
		}
	}
	.tablist{
		margin-top: 40rpx;
		.tab_item:not(:first-child){
			margin-left: 10rpx;
		}
		.tab_item{
			width: 160rpx;
			height: 138rpx;
			background: #fff;
			font-size: 24rpx;
			border-radius: 10rpx;
			view:first-child{
				font-size: 40rpx;
			}
		}
	}
}
.list{
	padding: 0 30rpx 20rpx 30rpx;
	overflow: hidden;
	.item{
		margin-top: 20rpx;
		background: #fff;
		border-radius: 10rpx;
		padding: 26rpx;
		.title{
			font-size: 30rpx;
			image{
				width: 10rpx;
				height: 32rpx;
				margin-right: 20rpx;
			}
		}
		.content{
			font-size: 28rpx;
			line-height: 48rpx;
			color: #666;
			margin-top: 26rpx;
		}
	}
}
