.container{
	padding-bottom: 130rpx;
}
.header{
	background: #fff;
	.set{
		width: 42rpx;
		height: 38rpx;
		margin-left: auto;
	}
}
.user_top{
	background: #fff;
	margin-top: 90rpx;
	.user_info{
		.header_img{
			width: 108rpx;
			height: 108rpx;
			border-radius: 50%;
			margin-left: 40rpx;
			border: 1rpx solid #F1F1F1;
		}
		.login_nav{
			margin-left: 20rpx;
			font-size: 44rpx;
			image{
				margin-left: 18rpx;
				width: 14rpx;
				height: 24rpx;
			}
		}
		.nickName{
			font-size: 34rpx;
			margin-left: 20rpx;
		}
		.sex,.age{
			font-size: 28rpx;
			margin-left: 20rpx;
		}
		.flex_y_center{
			margin-left: auto;
			margin-right: 40rpx;
			.qrcode_icon{
				width: 30rpx;
				height: 30rpx;
			}
			.icon_right{
				margin-left: 18rpx;
				width: 14rpx;
				height: 24rpx;
			}
		}
	}
	.num_list{
		margin-top: 20rpx;
		padding-bottom: 30rpx;
		.num_item{
			width: 33.3%;
			font-size: 20rpx;
		}
	}
}
.order_list{
	background: #fff;
	// margin-top: 20rpx;
	padding: 30rpx 0;
	.flex_y_bottom{
		padding: 0 30rpx;
		font-size: 28rpx;
		.flex_y_center{
			font-size: 20rpx;
			margin-left: auto;
			image{
				width: 10rpx;
				height: 17rpx;
				margin-left: 10rpx;
			}
		}
	}
	.icon_list{
		margin-top: 50rpx;
		.icon_item{
			width: 20%;
			font-size: 20rpx;
			.flex_all_center{
				width: 48rpx;
				height: 48rpx;
				margin-bottom: 10rpx;
			}
		}
	}
}
.logistics{
	padding: 0 30rpx 30rpx 30rpx;
	background: #fff;
	font-size: 28rpx;
	.logistics_box{
		padding: 30rpx;
		width: 630rpx;
		height: 140rpx;
		box-shadow: 0px 0px 30rpx 0px rgba(0, 0, 0, 0.1);
		border-radius: 10rpx;
		margin-top: 20rpx;
		.not_logistics{
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 140rpx;
			font-size: 20rpx;
			color: #999;
		}
	}
}
.quanyi{
	width: 660rpx;
	padding: 20rpx;
	background: linear-gradient(264deg, #506461, #333C3A);
	border-top-left-radius: 20rpx;
	border-top-right-radius: 20rpx;
	color: #fff;
	font-size: 24rpx;
	margin: 20rpx auto 0 auto;
	.qy_tips{
		font-size: 20rpx;
		margin-top: 10rpx;
	}
}
.nav_list{
	background: #fff;
	padding: 0 24rpx;
	margin-top: 20rpx;
	.nav_item{
		padding: 26rpx;
		font-size: 24rpx;
		.flex_all_center{
			width: 40rpx;
			height: 42rpx;
			margin-right: 26rpx;
		}
		.icon_right{
			width: 10rpx;
			height: 18rpx;
			margin-left: auto;
		}
	}
	.nav_item:not(:last-child){
		border-bottom: 1rpx solid #f1f1f1;
		
	}
}
.contact{
	font-size: 24rpx;
	color: #00BE72;
	margin-top: 150rpx;
	padding-bottom: 30rpx;
	text-align: center;
}